@import "../colors";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto+Mono:wght@100;400&display=swap");

.pagination{
    display: flex;
    padding: 15px;
    p{
        padding: 5px;
        cursor: pointer;
        font-size: 1.2em;
    }
}