//Mapa de colores

$textColor: #fff;
$primaryColor: #00171f;
$secondaryColor: #003459;
$variantColor: #007ea7 ;
$maxColor: #00a8e8;
$lightColor: #e8eddf;
$fondoChat:#242424;
$sidebar: #292c3e00;
$hover: #87cefa;
