@import "../colors";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto+Mono:wght@100;400&display=swap');

.wrapperContenido{
    margin: 60px;
    display: flex;
    flex-direction: column;
    
    p{
        text-align: center;
        font-size: 1.4em;
        padding: 20px;
        margin: 0 0 30px 90px;
        border: 2px solid $variantColor;
        width: 50%;
    }
}

.selectCourse{
    background: transparent;
    color: $textColor;
    font-family: 'Roboto Mono', monospace;
    padding: 15px;
    margin-left: 90px;
    border: 2px solid $variantColor;
    width: 50%;

}