@import "../colors";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto+Mono:wght@100;400&display=swap');


.mainChat{
    margin: 60px;
    display: grid;
    grid-template-columns: 1000px 300px;
    grid-template-rows: auto;
}

.titleChat{
    padding: 20px 0 20px 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.chatLinea{
    list-style: none;
    li{
        display: flex;
        padding: 10px;
    }
}

.wrapperChat{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid $variantColor;
    border-radius: 7px;
    background: rgb(20, 23, 36);
    overflow-y: auto;
    width: 90%;
    height: 700px;
    margin: 0 0 15px 0;
}

.inputMessage{
    background:rgb(20, 23, 36) ;
    border: 1px solid $variantColor;
    border-radius: 5px;
    height: 40px;
    width: 55%;
    color: $textColor;
    font-size: 1em;
    
}

.inputMessage[type="text"]{
    padding: 10px;
    font-family: "Lato", sans-serif;
}

.sendMessage{
    border: 1px solid $variantColor;
    background: rgb(20, 23, 36) ;
    color: $textColor;
    height: 40px;
    width: 80px;
    margin-left: 10px;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
}

.avatarChat{
    display: flex;
    img{
        width: 20px;
        margin-right: 10px;       
    }
}

.wrapperUsers{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    overflow-y: auto;
    list-style: none;
    border: 2px solid $variantColor;
    padding: 15px;
    height: 45%;
    li{
        display: flex;
        align-items: center;
        padding: 5px 0 5px 0;
        list-style: none;
       }
    
}

.wrapperImg{
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0 5px;
    
    img{
        width: 30px;
        height: 30px;
        overflow: hidden;
        object-fit: cover;
        border-radius: 100%;
        margin-right: 15px;
        }

}

.chat{
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.green {
    background-color: rgb(34, 255, 34);
    box-shadow: 0 0 15px rgba(101, 170, 101, 0.7);
    
}
.gray {
    background-color: gray;
}